<div style="text-align: center">
  <h1>MakersBnb:</h1>

  <form action="/new" method="post">
    <button value="Submit" type="submit">Create Listing</button>
  </form>

  <h3>All Spaces:</h3>

  <%= @all_spaces.join("<hr>") %>

</div>