<div style="text-align: center">
  <h1>Upload a new Space:</h1>

  <form action="/" method="post">
    <input name="name" type="text" placeholder="Enter name here..."/>
    <input name="description" type="text" placeholder="Write a brief description (600 characters max)..."/>
    <input name="price_per_night" type="text" placeholder="Enter a price/night..."/>
    <input name="username" type="text" placeholder="Enter your user name"/>
    <button value="Submit" type="submit">Create Listing</button>
  </form>

</div>
