<div style="text-align: center">

    <p>Your Listings</p>
    <form action="/profileview" method="post">
        <input name="username" type="text" placeholder="Enter your user name"/>
        <button value="Submit" type="submit">Submit</button>
    </form>
</div>
  