<head>
  <meta charset="utf-8">
  <title>Profile - MakersBnb</title>
  <link href=" <%= url('/style.css') %>" rel="stylesheet" type="text/css" />  
</head>

</body>
  <form action="/spaces" method="get">
    <button class="button" value="Submit" type="submit">View All Spaces</button>
  </form>

  <div style="text-align: center">
    <h1><%= session['username'] %>'s Profile</h1>

    <h1>Your Listings</h1>

    <%= @your_spaces.join("<hr>") %>

  </div>
</body>