<head>
  <meta charset="utf-8">
  <title>Space - MakersBnb</title>
  <link href=" <%= url('/style.css') %>" rel="stylesheet" type="text/css" />  
</head>

<body>
  <form action="/spaces" method="get">
    <button class="button" value="Submit" type="submit">Go Back</button>
  </form>


  <div style="text-align: center">

    <%= @current_space.join("<hr>") %>

  </div>
</body>