<head>
  <meta charset="utf-8">
  <title>Spaces - MakersBnb</title>
  <link href=" <%= url('/style.css') %>" rel="stylesheet" type="text/css" />  
</head>

<body>
  <div style="text-align: right; margin-top: 15px; margin-right: 20px;">
    <% if session['status'] == true %>

    <form action="/logout" method="post">
      <button value="Submit" type="submit" class="button">Logout</button>
    </form>

    <% else %>

    <form action="/signup" method="get">
      <button value="Submit" type="submit" class="button">Login or Sign Up</button>
    </form>

    <% end %>
  </div>

  <div class="spaces_container" style="text-align: center">
    <% if @signup == 'success' %>
      <h2>Thank you for registering with us, <%= session['username'] %>.</h2>
    <% elsif @page == 'notfound' %>
      <h2>The page you were looking for could not be found.</h2>
    <% elsif @booking == 'success' %>
      <h2>Your booking was successful!</h2>
    <% end %>

    <h1>MakersBnb:</h1>

    <form action="/profile" method="get">
      <button value="Submit" type="submit" class="button">My Spaces</button>
    </form>


    <form action="/spaces/new" method="post">
      <button value="Submit" type="submit" class="button">Create Listing</button>
    </form>

    <h2 class="all_spaces_header">All Spaces:</h2>

    <div><%= @all_spaces.join("<hr>") %></div>


  </div>
</body>